body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #555;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #a11a1a;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #8f1b8f;
    color: #4d0d0d;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.error-message {
    color: rgb(133, 47, 47);
    font-size: 14px;
    margin-top: 10px;
    display: none;
    animation: shake 5s ease-in-out; /* Animation für das Wackeln */
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    20%, 40%, 60%, 80% { transform: translateX(-10px); }
    30%, 50%, 70% { transform: translateX(10px); }
}